*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
a{
    text-decoration: none;
}

.texto{
    text-align: center;
    color: white;
    height: 20px;
    width: 150px;
    border: 15px solid rgb(15, 199, 15);
    background-color: rgb(15, 199, 15);    
    border-radius: 10px;
}

.texto:hover{
    border: 15px solid rgb(84, 209, 84);
    background-color: rgb(84, 209, 84);    
    border-radius: 10px;
    -moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    transform: skew(20deg)
}

.texto::after{
    color: black;
    background-color: purple;
}